.mainMenu {
  position: absolute;
  top: 50px;
  right: 60px;

  transform: translateX(0);
  transition: transform .4s ease-out .05s;
}

.collapsed {
  /*transform: translateX(-180px);*/
  transform: translateX(-260px);
}

.item {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin-right: 25px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.icon {
  width: 14px;
  height: 14px;
}

.item:hover .icon {
  -webkit-animation: cd-shock 0.3s;
     -moz-animation: cd-shock 0.3s;
          animation: cd-shock 0.3s;
}

.iconHome {
  composes: icon;
  background: url(../../assets/icons/house_dark.svg);
}

.iconSearch {
  composes: icon;
  background: url(../../assets/icons/search_dark.svg);
}

.iconMenu {
  composes: icon;
  height: 9px;
  background: url(../../assets/icons/menu_dark.svg);
}


@keyframes cd-shock {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
