.sidebarMenu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  background-color: #fff;
  box-shadow: -2px 0 10px #ccc;
  transform: translateX(265px);
  transition: transform .4s ease-out;
  z-index: 2;
}

.opened {
  transform: translateX(0);
}

.itemList {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 0 20px;
}

.close {
  position: absolute;
  top: 50px;
  right: 40px;
  padding: 5px;
  cursor: pointer;
}

.close:hover .closeIcon {
  animation: cd-shock 0.3s;
}

.closeIcon {
  width: 14px;
  height: 14px;
  background: url(../../assets/icons/close_grey.svg);
}
