.close {
  position: absolute;
  top: 50px;
  right: 80px;
  padding: 5px;
  cursor: pointer;
}

.close:hover .icon {
  animation: cd-shock 0.3s;
}

.icon {
  width: 14px;
  height: 14px;
  background: url(../../../assets/icons/close_grey.svg);
}


@keyframes cd-shock {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
