.content {
  position: absolute;
  top: 100px;
  right: 175px;
  left: 175px;
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding-bottom: 15px;
  font-size: 80px;
  color: #403F40;
  border: none;
  border-bottom: solid 2px #919191;
  transition: border 0.3s;
  background-color: transparent;
  outline: none;

  font-family: inherit;
}

.input:focus,
.input.focus {
  border-bottom: solid 2px #403F40;
}

.icon {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(../../../assets/icons/search_dark_large.svg);
}

.label {
  font-size: 20px;
  padding-top: 20px;
  color: #919191;
}
