.iconWrapper,
.label {
  display: inline-block;
  vertical-align: middle;
}

.iconWrapper {
  margin-right: 5px;
}

.label {
  line-height: 20px;
  cursor: pointer;
}

.item,
.subItem {
  padding: 2px 0;
  cursor: pointer;
  color: #4A4A4A;
  transition: color .4s ease-out;

  &:hover {
    color: #000;
  }
}

.subItem {
  &:first-child {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 5px;
  }

  .label {
    margin-left: 30px;
  }
}
