html {
  position: relative;
  background-color: #ECECEC;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

body {
  overflow: hidden;
  background: url('../images/background1.jpg') center center;
  background-size: cover;
}
